.recipes {
    text-align: center;
    margin: 1em 0;
    padding: 1em;
}

.recipes h1 {
    color: #1b2629;
    font-weight: 600;
    font-size: 4rem;
    font-family: "Lora", serif;
    margin: 1em 0;
}

.search-wrapper {
    border: 1px solid transparent;
    border-radius: 8px;
    max-width: 70%;
    position: relative;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    transition: border-color 0.3s ease;
}

.search-wrapper:focus-within {
    border-color: #9c702a;
}

.search-wrapper .search-icon {
    font-size: 1.5rem;
    color: #5c5c5c;
    margin-left: 0.7em;
}

.search-wrapper input {
    padding: 1.2em 1.5em;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #1b2629;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75px;
    width: 100%;
}

.recipes-container {
    margin: 2em;
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
}

.no-recipe {
    font-size: 1.5rem;
    color: #858585;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 480px) {
    .recipes h1 {
        font-size: 2rem;
    }

    .search-wrapper {
        max-width: 90%;
    }

    .recipes-container {
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .search-wrapper .search-icon {
        font-size: 1.25rem;
    }

    .search-wrapper input {
        padding: 1em 1.2em;
    }

    .no-recipe {
        font-size: 1.25rem;
    }
}