.home-container {
    text-align: center;
    padding: 0.5em 0;
}

.heading {
    color: #1b2629;
    font-weight: 600;
    font-size: 4rem;
    line-height: 77px;
    max-width: 40%;
    margin: 1.5em auto 0 auto;
    font-family: "Lora", serif;
}