.home-container {
    text-align: center;
    padding: 0.5em 0;
}

.heading {
    color: #1b2629;
    font-weight: 600;
    font-size: 4rem;
    line-height: 77px;
    max-width: 40%;
    margin: 1.5em auto 0 auto;
    font-family: "Lora", serif;
    text-align: center;
}

@media (max-width: 768px) {
    .heading {
        font-size: 3rem;
        line-height: 60px;
        max-width: 60%;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 2.5rem;
        line-height: 50px;
        max-width: 80%;
    }
}