nav {
    padding: 1.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav a {
    font-family: "Lora", serif;
    color: #1b2629;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    position: relative;
    padding: 0.5em 0;
}

nav ul li a {
    color: #5c5c5c;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 0 2.5em;
    font-family: "Inter", sans-serif;
}

nav ul li::after {
    content: '';
    position: absolute;
    left: 31px;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #9c702a;
    transition: width 0.3s ease;
}

nav ul li:hover::after {
    width: 55%;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.9s ease; 
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #1b2629;
    margin: 4px 0;
}

.menu-toggle.open .bar {
    transform: rotate(30deg); 
}

.menu-toggle.open .bar:nth-child(2) {
    opacity: 0; 
}

.menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-30deg); 
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px;
    transition: all 0.9s ease;
}

@media (max-width: 1000px) {

    .bg {
        width: 30%;
        background-color: white;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.5em;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav ul {
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        flex-direction: column;
        width: 30%;
        height: 100%;
        display: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        padding: 1em 0;
        text-align: center;
    }

    nav ul li::after {
        left: 30%;
    }

    nav ul li:hover::after {
        width: 40%;
    }

    .menu-toggle {
        display: flex; 
    }
}

@media (max-width: 700px) {
    .bg {
        width: 40%;
    }

    nav ul {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .bg {
        width: 50%;
    }

    nav ul {
        width: 50%;
    }
}