nav {
    padding: 1.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a{
    font-family: "Lora", serif;
    color: #1b2629;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    position: relative; 
    padding: 0.5em 0; 
}

nav ul li a {
    color: #5c5c5c;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 0 2.5em;
    font-family: "Inter", sans-serif;
}

nav ul li::after {
    content: '';
    position: absolute;
    left: 31px;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #9c702a;
    transition: width 0.3s ease;
}

nav ul li:hover::after {
    width: 55%;
}