.badge {
    padding: 1em 1.5em;
    font-weight: 500;
    font-size: 0.8rem;
    margin: 1em 0;
    border-radius: 100vw;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
}

@media (max-width: 1000px) {
    .badge {
        padding: 0.7em 1.5em;
        font-size: 0.7rem;
        letter-spacing: 1.5px;
    }
}

@media (max-width: 850px) {
    .badge {
        letter-spacing: 1px;
    }
}

@media (max-width: 750px) {
    .badge {
        padding: 0.5em 0.8em;
        font-size: 0.6rem;
    }
}

@media (max-width: 550px) {
    .badge {
        padding: 1em 1.5em;
        font-weight: 500;
        font-size: 0.8rem;
    }

}
@media (max-width: 400px) {
    .badge {
        padding: 0.7em 0.9em;
        font-weight: 500;
        font-size: 0.7rem;
        letter-spacing: 0.5px;
    }
}