.header-text {
    border: 2px solid blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.text-area {
    padding: 1em;
    width: 50%;
    border: 2px solid;
}
.text-area h1 {
    color: #1b2629;
    font-weight: 600;
    font-size: 4rem;
    font-family: "Lora", serif;
    margin-bottom: 0.5em;
}